<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <description>Putanja do slika</description>
        <param-name>slikeKategorije</param-name>
        <param-value>slike/</param-value>
    </context-param>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>kontroler.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistracijaController</servlet-name>
        <servlet-class>kontroler.RegistracijaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrijavaController</servlet-name>
        <servlet-class>kontroler.PrijavaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KupacController</servlet-name>
        <servlet-class>kontroler.KupacController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>kontroler.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProvjeraRazinePrijave</servlet-name>
        <servlet-class>kontroler.ProvjeraRazinePrijave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Error404Controller</servlet-name>
        <servlet-class>kontroler.Error404Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UspjesnaRegistracija</servlet-name>
        <servlet-class>kontroler.UspjesnaRegistracijaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Error500Controller</servlet-name>
        <servlet-class>kontroler.Error500Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OdjavaController</servlet-name>
        <servlet-class>kontroler.OdjavaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
        <url-pattern>/kategorije</url-pattern>
        <url-pattern>/dodajProizvod</url-pattern>
        <url-pattern>/pregledKosarice</url-pattern>
        <url-pattern>/azurirajKosaricu</url-pattern>
        <url-pattern>/potvrda</url-pattern>
        <url-pattern>/kupnja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistracijaController</servlet-name>
        <url-pattern>/registracija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrijavaController</servlet-name>
        <url-pattern>/prijava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KupacController</servlet-name>
        <url-pattern>/kupac</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProvjeraRazinePrijave</servlet-name>
        <url-pattern>/provjeraRazinePrijave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Error404Controller</servlet-name>
        <url-pattern>/error404</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UspjesnaRegistracija</servlet-name>
        <url-pattern>/uspjesnaRegistracija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Error500Controller</servlet-name>
        <url-pattern>/error500</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OdjavaController</servlet-name>
        <url-pattern>/odjava</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            90
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/error404</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error500</location>
    </error-page>
</web-app>
